<br>
<h2 class="text-center"> Client List</h2>
<br>
<div class="container">
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col"> Id </th>
                <th scope="col"> First Name</th>
                <th scope="col"> Last Name </th>
                <th scope="col"> Actions </th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let client of clients">
                <td scope="row"> {{ client.idClient }} </td>
                <td> {{ client.nom }} </td>
                <td> {{ client.prenom }} </td>
                <td>
                    <button (click)="updateClient(client.idClient)" class="btn btn-warning">
                        Update
                    </button>
                    <button (click)="deleteClient(client.idClient)" class="btn btn-danger" style="margin-left: 10px">
                        Delete
                    </button>
                    <button (click)="clientDetails(client.idClient)" class="btn btn-success" style="margin-left: 10px">
                        View
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button (click)="goToAddClient()" class="btn btn-primary" style="margin-left: 1250px">new</button>

</div>